body {
    margin: 50px;
}

.page-alignment {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.generateBtn {
    width: 150px;
    height: 25px;
    cursor: pointer;
}

.inputBtn {
    cursor: pointer;
}

.inputFieldSection {
    display: flex;
    justify-content: row;
}

.deleteBtn {
    background-color: white;
    width: 200px;
    height: 23px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 2px;
}

.deleteBtn:hover {
    box-shadow: 2px 2px 2px rgba(189, 189, 189, 0.299);
}