body {
    margin: 50px;
}

.page-alignment {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.divider {
    display: flex;
    width: 100%;
    background-color: rgb(112, 112, 112);
    height: .5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.generateBtn {
    width: 150px;
    height: 25px;
    cursor: pointer;
}

.inputBtn {
    cursor: pointer;
}

.inputFieldSection {
    display: flex;
    justify-content: row;
}

.sectionToListAll{
    display: flex;
    justify-content: row;
    font-size: 12px;
    font-weight: bold;
    margin-top: -30px;
}

.allListBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin-top: -2px;
    margin-left: -2px;
    border-bottom: 1px solid black;
}

.allListBtn:hover {
    color: rgb(138, 138, 138);
    border-bottom: 1px solid rgb(138, 138, 138);
}

.deleteBtn {
    background-color: white;
    width: 200px;
    height: 23px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 2px;
}

.deleteBtn:hover {
    box-shadow: 2px 2px 2px rgba(189, 189, 189, 0.299);
}